@import "normalize.css";
html {
  	box-sizing: border-box;
}
*, *:before, *:after {
 	box-sizing: inherit;
}
@dark-blue: #303F9F;
@main-blue: #3F51B5;

.appBar {
    background-color: @dark-blue;
}
.mainDiv {
    height: 500px;
    background-color: @main-blue;
    width: 100%;
    text-align: center;
}
.launchButton {
    height: 4em;
    color: white;
}
.title {
    color: white;
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding-top: 3em;
    padding-bottom: 1em
}
.shuttle {
    margin: 0 auto;
    text-align: center;
}
.launchButton {
    margin: 0 auto;
    text-align: center;
}
.launchApp {
    color: white;
    margin-top: 0;
}
.coordinateInfo {
    display: inline-block;
    width: 66%
}
.coordinatesPaper {
    margin: 0 auto
}
.map {
    display: inline-block;
}
.statsInfo {
    text-align: center
}
.statsPaper {
    margin: 0 auto
}
